<div>
  <form #addAspirantForm="ngForm" (ngSubmit)="add(addAspirantForm)">
    <h2>Add Aspirant</h2>

    <mat-form-field appearance="outline">
      <mat-label> RegNo: </mat-label>
      <input matInput type="text" name="regNo" ngModel required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Aspirant name: </mat-label>
      <input matInput type="text" name="aspirantName" ngModel />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Nickname </mat-label>
      <input matInput type="text" name="nickName" ngModel required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select</mat-label>
      <mat-select required (valueChange)="changed($event)">
        <mat-option *ngFor="let position of positions" value="{{ position }}">{{
          position
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="file-input-container">
      <input
        class="custom-file-input"
        type="file"
        name="profilePic"
        ngModel
        required=""
        (change)="changeFile($event)"
      />
    </div>

    <mat-error>{{ error }}</mat-error>
    <button
      class="add-aspirant-button"
      *ngIf="!loading"
      type="submit"
      mat-raised-button
      [disabled]="addAspirantForm.invalid"
      color="primary"
    >
      Add Aspirant
    </button>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </form>
</div>
