.router {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0 2em 0;
  background-color: antiquewhite;
}
.close-form {
  border: none;
  outline: none;
  background: none;
  /*margin-left: 4%;*/
  /*margin-top: 1em;*/
}
.top {
  height: 53px;
  display: flex;
  align-items: center;
  align-content: center;
}
.top h2 {
  margin: auto;
}

.manageVoting {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .router {
    width: 60%;
    margin: 1em auto 2em auto;
  }
  .top {
    width: 60%;
  }
  .body {
    width: 75% !important;
    margin: auto;
  }
}
