<header>
  <nav>
    <a routerLink="/admin" *ngIf="isAdmin">Admin</a>
    <a routerLink="/">Home</a>
    <a routerLink="/login">Logout</a>
  </nav>

  <div class="logo-container"><img src="/assets/logo.jpeg" width="100%" /></div>
</header>

<div class="message-container">
  <p>Welcome to <b>KU Physics Club</b> voting app</p>
  <p class="auth-message" *ngIf="!isVerified">
    Please wait as you are being Verified
  </p>

  <p class="success" *ngIf="isVerified">
    Congratulations! You were verified successfuly. Please wait for voting time
  </p>
  <!--  <p class="thanks-message" *ngIf="has_voted">Thankyou for voting</p>-->

  <button
    mat-raised-button
    color="primary"
    class="vote-btn"
    (click)="navigateVote()"
  >
    Vote
  </button>
</div>
<footer><small>&copy; KUPHY 2021</small></footer>
