.form-container {
  height: 100%;
  background-image: url("src/assets/logo.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1em;
}
form {
  position: relative;
  width: 88%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5em 1em 2em;
  border-radius: 10px;
  background-color: white;
  margin-top: 3em;
}

mat-form-field {
  width: 95%;
}

button {
  width: 95%;
  margin-left: 2%;
  margin-top: 20px;
}

.close-form {
  position: absolute;
  background: none;
  outline: none;
  border: none;
  left: -40%;
  top: 1px;
}
.close-form:hover {
  cursor: pointer;
}

.close-form {
  position: absolute;
  background: none;
  outline: none;
  border: none;
  left: -40%;
  top: 1px;
}
.close-form:hover {
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  form {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .form-container {
    background-repeat: repeat;
  }
  .login-button {
    width: 20%;
    margin-left: 40%;
  }
  .close-form {
    left: -45%;
  }
}
