.form-container {
  height: 100%;
  background-image: url("src/assets/logo.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1em;
}

form {
  width: 88%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5em 1em 2em;
  border-radius: 10px;
  background-color: white;
}
form h2 {
  margin: 0;
}
form h3 {
  margin: 0;
  color: #d91010;
}

mat-form-field {
  width: 95%;
}

button {
  width: 95%;
  margin-left: 2%;
  margin-top: 2px;
}
@media screen and (min-width: 600px) {
  form {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .form-container {
    background-repeat: repeat;
  }
  .signup-button {
    width: 20%;
    margin-left: 40%;
  }
  .close-form {
    left: -45%;
  }
}
