<div class="form-container">
  <form #signupForm="ngForm" (ngSubmit)="signup(signupForm)">
    <h2>KU Physics Club</h2>
    <h3>Signup</h3>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput required ngModel name="userName" />
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          name="email"
          type="email"
          required
          ngModel
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>RegNO</mat-label>
        <input matInput required ngModel name="regNo" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          required
          #first_password
          ngModel
          name="password"
          type="password"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          required
          #second_password
          type="password"
          name="password2"
          ngModel
        />
        <mat-error *ngIf="false">{{ PdMismatchError() }}</mat-error>
      </mat-form-field>
    </div>
    <mat-error>{{ error }}</mat-error>
    <button
      *ngIf="!loading"
      mat-raised-button
      color="primary"
      [disabled]="!signupForm.valid"
    >
      Login
    </button>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <p>
      <br />
      Already have an account? &nbsp;
      <a routerLink="/login"> Log in </a>
    </p>
  </form>
</div>
